.carte {
    @media screen and ( max-width:1000px) {
    height: $hauteur-carte-mobile - $decallage-carte-mobile;
    }
    
    img {
        width:100%;
        height: 275px;
        object-fit: cover;
        
        @media screen and ( min-width:1000px) {
           height: 400px; 
        }
    }

    &__menus {
        position: relative;
        top:$decallage-carte-mobile*(-1);
        max-width:1110px;

        border-radius: 40px 40px 0 0;
        margin:auto;

        background-color:darken($couleurFond1,5%);
        padding: 40px 15px;

        @media screen and ( min-width:1000px) {
           top:$decallage-carte-desktop*(-1);
           border-radius: 40px 40px 40px 40px;
        }
        
    }

    
}

.menus {
    display: grid;
    grid-template-columns: 1fr 20%;
    grid-template-rows: repeat(3,auto);
    row-gap: 10px;
    grid-template-areas: 
    'titre coeur' 
    'grillcat grillcat'
    'conteneur-btn conteneur-btn'
    ;    

    &__titre {
        align-items: center;
        grid-area: titre;
        
        
        font-size: 1.6rem;
                
    }

    &__cadreiconecoeur {
        grid-area: coeur;
        
        display: flex;
        justify-content: center;
        align-items: center;

        font-size: 1.6rem;
        z-index:1;
                    
       
    }

    &__grille-categories {
        grid-area: grillcat;

        @media screen and ( min-width:1110px) {
            display: grid;
            grid-template-columns: repeat(3,1fr);
        
            column-gap: 15px;  
            grid-template-areas: 
            'entree plat dessert';
        
            .cat-entree {
                grid-area: entree;
            }

            .cat-plat {
               grid-area: plat;
            }

            .cat-dessert {
                grid-area: dessert;
            }
        }
    }

    &__conteneur {
        grid-area: conteneur-btn;
        @include centrer(0px, 0px);
        margin-top: 10px;
    } 

}

.cat-entree {
    @include categorie-type
}

.cat-plat {
    @include categorie-type;
    
    
}

.cat-dessert {
    @include categorie-type;
}

