.footer { /* position: sticky;  footer toujours visible*/
    bottom: 0; z-index: 30;
    background-color: darken($couleurFond1,80%);
    padding: 20px 20px 35px 20px;

    color: $couleurTexte1;
    font-size: 0.95rem;
    &__enseigne {
        padding-bottom: 20px;

        font-family: 'Shrikhand', 'Roboto', sans-serif;
        font-size: 1.2rem;
        
    }

    a {       
        text-decoration: none;       
        color: $couleurTexte1;
    }

    &__restaurateur,
    &__partenaire {
        display: flex;

        padding-bottom: 10px;

        .cadreicone {
            margin-right:10px;
            width: 10px;
           font-size: 0.75rem;
        }               
    }

    &__mention {
        padding-bottom: 10px;
    }

    &__validateur {
        padding: 20px 0;
        width: 10px;
    }
    
}
