.header {
    @include centrer(10px,20px)  ;
    justify-content: start;
    
    &__icone {
        display: inline-block;
        cursor: pointer;

        font-size: 1.2rem;
        
        &--invisible.header__icone {
           display: none;           
        }
        
    }
    &__logo {
        position: relative;
        left: 50%;
        font-family: 'Shrikhand','Roboto', sans-serif;
        font-size:2rem;        
        
        transform: translateX(-50%);        
            p {
                height:40px;
           }
    }

    

}