/*---------------------------------*/
/*--------INFOS VARIABLES------*/
/*---------------------------------*/
/*---DEFINITION PALETTE----*/
/* Background
$fond-primaire:darken( white,10%);
$fond-secondaire:darken( white,5%);
$fond-tertiaire:white;

$localisation-fond:#EAEAEA;
$vitrine-fond:#F6F6F6;
$btn-vitrine-fond:#9356DC;
$btn-vitrine-fond--variante:#E671DA;

$etape-fond:#F6F6F6;
$etape-fond--variante:#F5EDFF;

$nouveau-fond:#99E2D0;
$nouveau-texte:#008766;

$footer-fond:#353535;*/
/*test map
$couleur1:white;*/
/*---------------------------------*/
/*----PARAMETRES GENERAUX-----*/
/*---------------------------------*/
/*Base*/
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
*, *::after, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.blocpage {
  width: 100%;
  max-width: 1440px;
  min-width: 375px;
  margin: auto;
  background-color: white;
}

/*-----KEYFRAMES-----*/
@keyframes apparition {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  90% {
    opacity: 0.8;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Typographie
Polices:
Logo et titres: Shrikhand
Texte: Roboto
*/
body {
  font-family: 'Roboto', sans-serif;
  color: black;
  font-size: 15px;
}

h1.shrikhand {
  font-family: 'Shrikhand','Roboto', sans-serif;
}

a {
  text-decoration: none;
}

/*---------------------------------*/
/*----COMPOSANTS-----*/
/*---------------------------------*/
/*===Bouttons===*/
/*Boutton de base pour:
Choix du restaurant
Commandez*/
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 15px;
  display: block;
  position: relative;
  flex-direction: column;
  width: 220px;
  z-index: 1;
  border-radius: 30px;
  margin: 20px 0px;
  background: radial-gradient(ellipse at left top, #FF79DA 15%, #9356DC 100%);
  text-align: center;
  color: white;
  cursor: pointer;
}

.btn__full-width {
  width: 100%;
}

.btn:hover {
  box-shadow: 5px 5px 10px #bfbfbf;
  transform: scale(1.02);
  transition: transform 800ms;
}

.btn:hover::after {
  opacity: 1;
}

.btn::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  border-radius: 30px;
  background: radial-gradient(ellipse at right bottom, #ff83dd 15%, #985ede 100%);
  opacity: 0;
  transition: opacity 250ms;
}

/*Boutton de base pour:
Choix du menu*/
.btn-menus {
  display: flex;
  max-width: 350px;
  height: 65px;
  border-radius: 15px;
  margin: auto;
  background-color: white;
  /*$fond-tertiaire;*/
  cursor: pointer;
  overflow: hidden;
}

.btn-menus:hover {
  box-shadow: 5px 5px 10px #bfbfbf;
  transform: scale(1.02);
  transition: transform 800ms;
}

.btn-menus__description {
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 10px 0px 15px 10px;
}

.btn-menus__nom {
  padding-bottom: 5px;
  flex-wrap: nowrap;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.btn-menus__soustitre {
  text-overflow: clip;
  width: 100%;
  transition: width 400ms 20ms;
  transition: text-overflow 1000ms 400ms linear;
}

.btn-menus:hover .btn-menus__soustitre {
  white-space: nowrap;
  width: 90%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.btn-menus__prix {
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-weight: bold;
  width: 10%;
  height: 100%;
  padding-bottom: 10px;
  transform: translateX(100%);
  transition: 300ms 90ms ease-out;
}

.btn-menus:hover > .btn-menus__prix {
  transform: translateX(0%) scaleX(1.2);
}

.btn-menus__cadreicone-check {
  background-color: #99E2D0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 19%;
  height: 100%;
  transform: translateX(100%);
  transition: 500ms ease-out;
}

.btn-menus__cadreicone-check i {
  transform: rotate(-180deg);
  transition: 200ms 200ms ease-out;
}

.btn-menus:hover > .btn-menus__cadreicone-check {
  transform: translateX(0);
}

.btn-menus:hover > .btn-menus__cadreicone-check i {
  transform: rotate(0deg);
}

/*Parametres par defauts*/
.coeur .cvide, .coeur .cplein {
  color: black;
  display: block;
  font-size: 1.5;
}

.coeur .cvide .cplein, .coeur .cplein .cplein {
  color: #FF79DA;
  display: block;
}

.coeur .cvide {
  position: relative;
}

.coeur .cvide:hover > .cplein {
  transform: scale(1);
}

.coeur .cplein {
  position: absolute;
  top: 0px;
  transform: scale(0);
  opacity: 0.6;
  transition: 1000ms ease-in-out;
  transform-origin: bottom;
  z-index: -1;
}

/*---------------------------------*/
/*----LAYOUTS-----*/
/*---------------------------------*/
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 20px;
  justify-content: start;
}

.header__icone {
  display: inline-block;
  cursor: pointer;
  font-size: 1.2rem;
}

.header__icone--invisible.header__icone {
  display: none;
}

.header__logo {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.header__logo img {
  height: 30px;
}

.footer {
  /* position: sticky;  footer toujours visible*/
  bottom: 0;
  z-index: 30;
  background-color: #333333;
  padding: 20px 20px 35px 20px;
  color: white;
  font-size: 0.95rem;
}

.footer__enseigne {
  padding-bottom: 20px;
  font-family: 'Shrikhand', 'Roboto', sans-serif;
  font-size: 1.2rem;
}

.footer a {
  text-decoration: none;
  color: white;
}

.footer__restaurateur, .footer__partenaire {
  display: flex;
  padding-bottom: 10px;
}

.footer__restaurateur .cadreicone, .footer__partenaire .cadreicone {
  margin-right: 10px;
  width: 10px;
  font-size: 0.75rem;
}

.footer__mention {
  padding-bottom: 10px;
}

.carte img {
  width: 100%;
  height: 275px;
  object-fit: cover;
}

@media screen and (min-width: 1000px) {
  .carte img {
    height: 400px;
  }
}

.carte__menus {
  position: relative;
  top: -40px;
  max-width: 1110px;
  border-radius: 40px 40px 0 0;
  margin: auto;
  background-color: #f2f2f2;
  /* $fond-secondaire;*/
  padding: 40px 15px;
}

@media screen and (min-width: 1000px) {
  .carte__menus {
    top: -100px;
  }
}

.menus {
  display: grid;
  grid-template-columns: 1fr 20%;
  grid-template-rows: repeat(3, auto);
  row-gap: 40px;
  grid-template-areas: 'titre coeur'  'grillcat grillcat' 'conteneur-btn conteneur-btn';
}

.menus__titre {
  align-items: center;
  grid-area: titre;
  font-size: 1.6rem;
}

.menus__cadreiconecoeur {
  grid-area: coeur;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  z-index: 1;
}

.menus__grille-categories {
  grid-area: grillcat;
}

@media screen and (min-width: 1110px) {
  .menus__grille-categories {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 15px;
    grid-template-areas: 'entree plat dessert';
  }
  .menus__grille-categories .cat-entree {
    grid-area: entree;
  }
  .menus__grille-categories .cat-plat {
    grid-area: plat;
  }
  .menus__grille-categories .cat-dessert {
    grid-area: dessert;
  }
}

.menus__conteneur {
  grid-area: conteneur-btn;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 0px;
}

.cat-entree {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, auto);
  row-gap: 10px;
  grid-template-areas: 'titre' 'sep' 'bouton1' 'bouton2' 'bouton3';
}

.cat-entree__titre {
  grid-area: titre;
  margin-top: 10px;
  text-transform: uppercase;
  font-size: 1.1rem;
}

.cat-entree__separateur {
  grid-area: sep;
  width: 45px;
  height: 1px;
  border-top: cadetblue 2px solid;
}

.cat-entree__bouton-choix1 {
  grid-area: bouton1;
  animation: apparition 1000ms ease-out;
}

.cat-entree__bouton-choix2 {
  grid-area: bouton2;
  animation: apparition 1000ms ease-out 150ms;
}

.cat-entree__bouton-choix3 {
  grid-area: bouton3;
  animation: apparition 1000ms ease-out 300ms;
}

.cat-plat {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, auto);
  row-gap: 10px;
  grid-template-areas: 'titre' 'sep' 'bouton1' 'bouton2' 'bouton3';
}

.cat-plat__titre {
  grid-area: titre;
  margin-top: 10px;
  text-transform: uppercase;
  font-size: 1.1rem;
}

.cat-plat__separateur {
  grid-area: sep;
  width: 45px;
  height: 1px;
  border-top: cadetblue 2px solid;
}

.cat-plat__bouton-choix1 {
  grid-area: bouton1;
  animation: apparition 1000ms ease-out;
}

.cat-plat__bouton-choix2 {
  grid-area: bouton2;
  animation: apparition 1000ms ease-out 150ms;
}

.cat-plat__bouton-choix3 {
  grid-area: bouton3;
  animation: apparition 1000ms ease-out 300ms;
}

.cat-dessert {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, auto);
  row-gap: 10px;
  grid-template-areas: 'titre' 'sep' 'bouton1' 'bouton2' 'bouton3';
}

.cat-dessert__titre {
  grid-area: titre;
  margin-top: 10px;
  text-transform: uppercase;
  font-size: 1.1rem;
}

.cat-dessert__separateur {
  grid-area: sep;
  width: 45px;
  height: 1px;
  border-top: cadetblue 2px solid;
}

.cat-dessert__bouton-choix1 {
  grid-area: bouton1;
  animation: apparition 1000ms ease-out;
}

.cat-dessert__bouton-choix2 {
  grid-area: bouton2;
  animation: apparition 1000ms ease-out 150ms;
}

.cat-dessert__bouton-choix3 {
  grid-area: bouton3;
  animation: apparition 1000ms ease-out 300ms;
}

/*---------------------------------*/
/*----PAGES-----*/
/*---------------------------------*/
.localisation {
  width: 100%;
  background: linear-gradient(to bottom, #cccccc 0%, #e6e6e6 10%);
}

.localisation__conteneur {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 auto;
  width: 100%;
  height: 50px;
}

.localisation__cadreicone {
  padding-right: 5px;
  color: #1a1a1a;
  font-size: 1rem;
}

.localisation__cadresaisie {
  width: auto;
  height: auto;
}

.localisation__cadresaisie input {
  width: 130px;
  height: 40px;
  border: none;
  padding-left: 10px;
  background-color: #e6e6e6;
  color: black;
}

.localisation__cadresaisie input::placeholder {
  color: #4d4d4d;
  font-weight: 600;
  font-size: 1rem;
}

.vitrine {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 30px;
  flex-direction: column;
  height: auto;
  background-color: #f2f2f2;
  font-size: 1rem;
}

.vitrine__titre {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 0px;
  flex-direction: column;
  text-align: center;
  font-weight: bold;
}

.vitrine__message {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 0px;
  flex-direction: column;
  text-align: center;
  color: gray;
}

.vitrine__conteneur {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 0px;
  flex-direction: column;
  width: 100%;
}

.fonctionnement {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 20px;
  font-size: 1rem;
}

@media screen and (min-width: 1100px) {
  .fonctionnement {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

.fonctionnement__titre {
  align-self: start;
  margin-bottom: 10px;
}

@media screen and (min-width: 376px) {
  .fonctionnement__titre {
    display: block;
    width: 100%;
    text-align: center;
  }
}

.fonctionnement__etape {
  display: flex;
  align-items: center;
  width: 300px;
  margin: 15px 0px;
  border-radius: 20px;
  box-shadow: 5px 5px 10px #bfbfbf;
  background-color: #f2f2f2;
  padding: 20px 0px;
  cursor: pointer;
}

.fonctionnement__etape:hover {
  background-color: #f2eafb;
  transform: scale(1.02);
  transition: transform 800ms;
}

.fonctionnement__etape:hover .cadreicone {
  color: #9356DC;
}

.fonctionnement .cadrenumero {
  width: 24px;
  line-height: 24px;
  border-radius: 12px;
  margin-right: 10px;
  background-color: #9356DC;
  font-size: 0.9rem;
  text-align: center;
  color: white;
  transform: translateX(-13px);
}

.fonctionnement .cadreicone {
  margin-right: 20px;
  color: gray;
  font-size: 1.4rem;
  text-align: center;
}

.fonctionnement .cadreconsigne {
  font-size: 1.2rem;
  font-weight: bold;
}

.restaurant {
  background-color: #f2f2f2;
  padding: 60px 20px;
  font-size: 1rem;
}

.restaurant__titre {
  padding-bottom: 30px;
}

@media screen and (min-width: 376px) {
  .restaurant__titre {
    display: block;
    width: 100%;
    text-align: center;
  }
}

.restaurant__grille {
  display: grid;
  grid-template-rows: repeat(4, auto);
  grid-row-gap: 20px;
}

@media screen and (min-width: 771px) {
  .restaurant__grille {
    grid-template-columns: repeat(2, auto);
    grid-column-gap: 20px;
  }
}

.card-prev {
  display: flex;
  overflow: hidden;
  position: relative;
  justify-content: space-between;
  flex-wrap: wrap;
  cursor: pointer;
  border-radius: 15px;
  background-color: white;
}

.card-prev:hover {
  box-shadow: 5px 5px 10px #bfbfbf;
  transform: scale(1.02);
  transition: transform 800ms;
}

.card-prev__nouveau {
  display: block;
  width: 90px;
  line-height: 25px;
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #99E2D0;
  color: #278870;
  font-weight: bold;
  text-align: center;
}

.card-prev__nouveau.card-prev__nouveau--invisible {
  opacity: 0;
  /* ou display:none*/
}

.card-prev__photo {
  width: 100%;
}

.card-prev img {
  width: 100%;
  height: 175px;
  object-fit: cover;
  border-radius: 15px 15px 0px 0px;
}

.card-prev__description {
  padding: 15px 15px;
  color: black;
  font-size: 1rem;
}

.card-prev__cadreiconecoeur {
  padding: 15px 40px;
}

.card-prev__cadreiconecoeur .cvide {
  color: black;
  font-size: 1.5rem;
}

.card-prev__cadreiconecoeur .cvide .cplein {
  color: #FF79DA;
  font-size: 1.5rem;
}
/*# sourceMappingURL=main.css.map */