/*===Bouttons===*/

/*Boutton de base pour:
Choix du restaurant
Commandez*/

.btn {
  @include btn;
}

/*Boutton de base pour:
Choix du menu*/

.btn-menus {
    display: flex;
    
    max-width: 350px;
    height: 65px;

    border-radius: 15px;
    margin: auto;
        
    background-color:$couleurFond1;/*$fond-tertiaire;*/
    
    cursor:pointer;   overflow: hidden; 

    &:hover {
        @include box-shadow;
        @include zoom;
    }


    &__description {width: 290px;
       
        white-space: nowrap;
        
        text-overflow:ellipsis;
        
        padding: 10px 0px 15px 10px;
        
        
    }

    &__nom {
        padding-bottom: 5px;
        flex-wrap: nowrap;
      
       
    }
    &__soustitre { white-space: nowrap;
        overflow: hidden;
        text-overflow:ellipsis ;
        width: 290px;
        transition : width 200ms 100ms ;    
        
    } 
    
    .btn-menus__description {
        &:hover > .btn-menus__soustitre {
       width: 250px;
    }
    }
    
    &__prix { 
        display: flex;
        justify-content: center;
        align-items: flex-end;
        font-weight: bold;
        width: 50px;height:100%; margin-right: 10px;

        padding-bottom: 10px;
        transform: translateX(100%);
        transition: 490ms 10ms ease-out;
    }

    &:hover > .btn-menus__prix {
         transform: translateX(0%) scaleX(1.2);         
    }
    

    &__cadreicone-check {
        background-color: $couleur-tertiaire;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height:100%;   

        transform: translateX(101%);
        transition:500ms ease-out ;
        i {
            transform: rotate(-180deg);
            transition: 200ms 200ms ease-out;
            
        }
    }
    
    &:hover > .btn-menus__cadreicone-check {
        transform: translateX(0);
        i {
             transform: rotate(0deg);
        }
    }
    
}

