/*===Bouttons===*/

/*Boutton de base pour:
Choix du restaurant
Commandez*/

.btn {
  @include btn;
}

/*Boutton de base pour:
Choix du menu*/

.btn-menus {
    display: flex;
    
    max-width: 350px;
    height: 65px;

    border-radius: 15px;
    margin: auto;
        
    background-color:$couleurFond1;/*$fond-tertiaire;*/
    
    cursor:pointer;   overflow: hidden; 

    &:hover {
        @include box-shadow;
        @include zoom;
    }


    &__description {width: 250px;
       
        white-space: nowrap;
        
        text-overflow:ellipsis;
        
        padding: 10px 0px 15px 10px;
        
        
    }

    &__nom {
        padding-bottom: 5px;
        flex-wrap: nowrap;
      
       
    }
    &__soustitre { 
        text-overflow:clip ;
        width: 100%;
        transition : width 400ms 20ms;    
        transition : text-overflow 1000ms 400ms linear;
    } 
    
    &:hover .btn-menus__soustitre {
        white-space: nowrap;width: 90%;
       overflow: hidden;
        text-overflow:ellipsis;
    }
    
    &__prix { 
        display: flex;
        justify-content: center;
        align-items: flex-end;
        font-weight: bold;
        width: 50px;height:100%; margin-right: 10px;

        padding-bottom: 10px;
        transform: translateX(100%);
        transition: 300ms 90ms ease-out;
    }

    &:hover > .btn-menus__prix {
         transform: translateX(0%) scaleX(1.2);         
    }
    

    &__cadreicone-check {
        background-color: $couleur-tertiaire;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height:100%;   

        transform: translateX(101%);
        transition:500ms ease-out ;
        i {
            transform: rotate(-180deg);
            transition: 200ms 200ms ease-out;
            
        }
    }
    
    &:hover > .btn-menus__cadreicone-check {
        transform: translateX(0);
        i {
             transform: rotate(0deg);
        }
    }
    
}

/*Parametres par defauts*/
.coeur {    
    .cvide,.cplein { 
        color:$couleurFond2;
        display: block;
        font-size: 1.5;
        .cplein {
            color:$couleur-secondaire;
            display: block;
        }
    }

    .cvide {
            position:relative;

            &:hover > .cplein {
                transform: scale(1);
                    
      	    }
            
    }

    .cplein {
            position: absolute;
            top: 0px;
            transform:scale(0);
            opacity: 0.6;
            transition: 1000ms ease-in-out;
            transform-origin: bottom;
            z-index: -1;    
    }
}
