/*Parametres par defauts*/
.coeur {    
    &__vide { 
        position:relative;        
        
        display: block;
        font-size:$coeur-size-default;
        color:$couleurFond2;
        transition: 1000ms  ease-in-out;

        &:hover {
                color:transparent;
                & > .coeur__plein {
                transform: scale(1);                   
      	        }
        }
        
    }

    &__plein {
            font-weight: 900;
            background-clip: text;
            -webkit-background-clip: text;
            background-image: linear-gradient($couleur-primaire,$couleur-secondaire);
            -webkit-text-fill-color: transparent;
            
            display: block;
            position: absolute;
            top: 0px;
            transform:scale(0);
            opacity: 0.6;
            transition: 1000ms ease-in-out;
            transform-origin: bottom;
            z-index: -1; 
           
            
    }
    
}
