
/*-----KEYFRAMES-----*/
/*-----Apparition du loader-----*/
@keyframes loader-apparition {
    0% {
        z-index: 3;
    }
    100% {
        z-index: 100;
    }

}

.loader-conteneur {
    position:absolute;
       
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background-color: rgba($color:white, $alpha: 0.9);
    

    display: flex;
    padding-left:80px;

    position: fixed;
    
    
    justify-content: center;align-items: center;
   z-index: -1; animation: loader-apparition 3800ms;

   &::after {
       content: "ohmyfood";
       font-family: 'Shrikhand','Roboto', sans-serif;
        animation: slide 1500ms forwards;
   }
}


.cercle1 {
   
    border-radius:60px ;
    border: 20px solid $couleur-tertiaire;
    margin: 5px;
   
   animation: loader 500ms 200ms ease alternate-reverse 2 both;
   z-index:2;
}

.cercle2 {
   
    border-radius:100px ;
    border: 15px solid $couleur-secondaire;
    margin: 5px;
    
   animation: loader 1000ms ease alternate-reverse 2 both;
}

.cercle0 {
   
    border-radius:15px ;
    border: 15px solid $couleur-primaire ;
    margin: 5px;
    
   animation: loaderc0 1500ms 350ms ease alternate-reverse 2 both;
   z-index:3;
}

/*-----KEYFRAMES-----*/
/*-----Annimation 1 du loader pour cercle c1 et c2-----*/
@keyframes loader {
    0% {
        transform: scale(1.3); opacity:1;
    }

    

    40% {
        opacity: 0.7;
    }
    
    90%,100% {
         transform:  scale(.80) ; opacity: 1;
    }
    
}
/*-----KEYFRAMES-----*/
/*-----Annimation 2 du loader pour cercle c0 au centre-----*/

@keyframes loaderc0 {
    0% {transform-origin: 0px;
        transform: scale(2.50) ; opacity:1;
    }

    

    40% {
        transform: rotatex(180deg) ; opacity: 0.7;
    }
    

    100% {
         transform: scale(.80) rotatex(180deg) ; opacity: 1;
    }
    
}

/*-----KEYFRAMES-----*/
/*-----Annimation 3 translation du logo-----*/
@keyframes slide {
    0% {
        transform: translateX(800px) ; opacity:0.5;
    }

    

    40% {transition: ease-in;
        transform: rotatex(0deg) translateX(20px) ; opacity: 0.7;
    }
    
    70% {
        transform:scale(1) translateX(50px) ;
        }

    100% {
         transform:translateX(0px)   rotatex(360deg)  ; opacity: 1;
    }
    
}