/*Base*/

*, *::after, *::after {
  box-sizing: border-box;

  margin: 0;

  padding: 0;
}

.blocpage {  
  width: 100%;
  max-width: 1440px;
  min-width: 230px;
  
  margin: auto;

  background-color: $couleurFond1;

}

/*-----KEYFRAMES-----*/
/*-----apparition du menus vers le haut-----*/

@keyframes apparition {
    0% { 
    transform: translateY(20px);
    opacity:0;
    }

    

    90% {
        opacity:0.8;
        
        
    }

    100% {
        transform: translateY(0);
        opacity:1;
        
    }
}

