@mixin centrer(
  $padtop_bottom: $padding-default1,
  $padright_left: $padding-default2
) {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: $padtop_bottom $padright_left;
}

@mixin backg-darkn ($colors:$couleur-tertiaire,$proportion:10%) {
  $colors2:darken($colors,$proportion);
  background-color: $colors2;

}

@mixin backg-lightn ($colors:$couleur-tertiaire,$proportion:10%) {
  $colors2:lighten($colors,$proportion);
  background-color: $colors2;

}

@mixin box-shadow ($size1:5px,$size2:5px,$size3:10px,$couleur-shadow:darken($couleurFond1,25%)) {
  box-shadow: $size1 $size2 $size3 $couleur-shadow;
}

@mixin zoom ($echelle:1.02, $vitesse:800ms) {
  transform: scale($echelle);
  transition: transform $vitesse;
}

@mixin btn {    
  @include centrer(15px, 15px);
  display: block;
  position:relative;
  flex-direction: column;
  width: 220px;
  z-index: 1;

  border-radius: 30px;
  margin:20px 0px;

  background:radial-gradient(ellipse at left top,$couleur-secondaire 15%,$couleur-primaire 100%); 
  
  text-align: center; 
  color:$couleurTexte1;
  cursor:pointer;

  &__full-width {
    width:100%;
  }
        
  &:hover {

    @include box-shadow;
    @include zoom;
      &::after {                
      opacity:1;
      }
  }
        
  &::after {
      content:"";
      position:absolute;
      top:0;
      right:0;
      bottom:0;
      left:0;
      z-index:-1;
      
      border-radius: 30px;
      
      background:radial-gradient(ellipse at right bottom,$couleur-secondaire--2 15%,$couleur-primaire--2 100%);
      opacity:0;      
      transition:opacity 250ms;
  }
}  

@mixin categorie-type {
display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 40px 10px 70px 70px 70px auto;
    row-gap: 10px;
    grid-template-areas:
    'titre'
    'sep'
    'bouton1'
    'bouton2'
    'bouton3'
    'bouton4';
    
    &__titre {
        grid-area: titre;

        margin-top: 10px;

        text-transform:uppercase;
        font-size: 1.1rem;
    }
    &__separateur {
        grid-area: sep;

        width: 45px;
        height:1px;
        border-top:cadetblue 2px solid;
    }

    &__bouton-choix1 {        
        grid-area: bouton1;
        animation: apparition 1000ms ease-out  ;
    }

    &__bouton-choix2 {        
        grid-area: bouton2;
        animation: apparition 1000ms ease-out 150ms ;
    }

    &__bouton-choix3 {
        grid-area: bouton3;
        animation: apparition 1000ms ease-out 300ms ;
    }

    &__bouton-choix4 {
        grid-area: bouton4;
        animation: apparition 1000ms ease-out 300ms ;
    }


}