/*---DEFINITION PALETTE COULEUR----*/

$couleur-primaire:#9356DC;
$couleur-secondaire:#FF79DA;
$couleur-tertiaire:#99E2D0;
$couleurFond1:rgb(255, 255, 255);
$couleurFond2:rgba(0,0,0,1);

$couleurFond2-actif:rgba(0,0,0,0.45);
$couleurFond2-inactif:rgba(0,0,0,0.25);

$couleurTexte1:white;
$couleurTexte2:black;


$couleur-secondaire--2:lighten($couleur-secondaire,2%);
$couleur-primaire--2:lighten($couleur-primaire, 2%);

/*---DEFINITION DIMENSION DE BASE----*/
$padding-default1:20px;
$padding-default2:20px;

$hauteur-carte-mobile:1474px;
$decallage-carte-mobile:40px;
$decallage-carte-desktop:100px;

$coeur-size-default:1.6rem;
$coeur-size-card-prev:1.6rem;