/*---DEFINITION PALETTE----*/

$couleur-primaire:#9356DC;
$couleur-secondaire:#FF79DA;
$couleur-tertiaire:#99E2D0;
$couleurFond1:rgb(255, 255, 255);
$couleurFond2:rgba(0,0,0,1);

$couleurFond2-actif:rgba(0,0,0,0.45);
$couleurFond2-inactif:rgba(0,0,0,0.25);

$couleurTexte1:white;
$couleurTexte2:black;


$couleur-secondaire--2:lighten($couleur-secondaire,2%);
$couleur-primaire--2:lighten($couleur-primaire, 2%);

$padding-default1:20px;
$padding-default2:20px;

$hauteur-carte-mobile:1494px;
$decallage-carte-mobile:40px;
$decallage-carte-desktop:100px;

/* Background
$fond-primaire:darken( white,10%);
$fond-secondaire:darken( white,5%);
$fond-tertiaire:white;

$localisation-fond:#EAEAEA;
$vitrine-fond:#F6F6F6;
$btn-vitrine-fond:#9356DC;
$btn-vitrine-fond--variante:#E671DA;

$etape-fond:#F6F6F6;
$etape-fond--variante:#F5EDFF;

$nouveau-fond:#99E2D0;
$nouveau-texte:#008766;

$footer-fond:#353535;*/

/*test map
$couleur1:white;*/
